<h1>This will be my form</h1>
<%# <form action="/dashboards" method="get">
  <input type="text" name="names" placeholder="what's your name">
  <input type="submit">
</form> %>

<div class="container">

<form action="/parties" method="post">
    <div class="form-group">
      <label for="name">Quel est le nom de ta Bach Experience ?</label>
      <textarea class="form-control" id="name" rows="1"></textarea>
    </div>

    <div class="form-group">
      <label for="mood">Quel est la mood ?</label>
      <select class="form-control" id="mood">
        <option>Crazy</option>
        <option>Chic</option>
        <option>Chill</option>
      </select>
    </div>

    <div class="form-group">
      <label for="gender">Qui est invité ?</label>
        <select class="form-control" id="gender">
          <option>100% Meuf</option>
          <option>100% Mec</option>
          <option>Mixte</option>
        </select>
    </div>

    <div class="form-group">
      <label for="number_of_guests">Nombre de personnes?</label>
      <textarea class="form-control" id="number_of_guests" rows="1"></textarea>
    </div>

    <div class="form-group">
      <label for="budget">Budget?</label>
      <textarea class="form-control" id="budget" rows="1"></textarea>
    </div>

    <%# <div class="form-group">
      <label for="exampleFormControlTextarea1">Dates?</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
    </div> %>

    <div class="form-group">
      <label for="destination">Quelle est la destination?</label>
      <select class="form-control" id="destination">
        <option>Bordeaux</option>
        <option>Paris</option>
        <option>Amsterdam</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
</div>
