// Specific CSS for your home-page

.banner {

  height: 800px;
  width: auto;
  background-position: center;
  display: flex;
  align-content: space-around;
  align-items: center;
  justify-content: center;
}

.text-banner {
  color: white;
  text-align: center;
  background-color: #BCDC6F;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

}
