<div class="navbar navbar-expand-sm navbar-light navbar-bach">

  <div>BACHELOR</div>
  <div>BACHELORETTE</div>

  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "bach-exp-logo.png" %>
  <% end %>
    </ul>

    <div>DESTINATIONS</div>
  <div>TIPS</div>


</div>
