<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(<%= asset_path 'home-bach-exp.png' %>);">
  <div class="text-banner">

    <h1>Organise ta <strong>Bach Party</strong> de rêves</h1>
    <p>Plannifie ton event facilement avec the <em>Bach Experience</em></p>
   <div><button class="bach-but"><%link_to "Form", parties_path %></button></div>

  </div>
</div>
