<%# SLIDER PART %>

<div class="banner-bach-exp">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(<%= asset_path 'bach-exp-2.png' %>);">
    <div class="text-banner">

      <h1>Organise ta <strong>Bach Party</strong> de rêves</h1>
      <p>Plannifie ton event facilement avec the <em>Bach Experience</em></p>
      <div><button class="bach-but">CREATE<%link_to "Form", parties_path %></button>
      </div>
    </div>
  </div>
</div>

<%# SELCTION MOOD PART%>
<div class="section-bach-exp p-5">
  <div class="row align-items-center">
    <div class="col-5 text-center ">
      <h2> Choisissez votre <em>mood</em></h2>
      <p> Définissez votre style d'êvenement, quel est l'envie de la future mariée/futur marié ?</p>

    </div>

    <div class="col-7 text-center">
      <div class="row">
        <div class="col-3 m-1 card-category" style="background-image: linear-gradient(rgba(242,68,29,0.8), rgba(242,234,208,0.3)), url(https://images.unsplash.com/photo-1566737236500-c8ac43014a67?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGJhY2hlbG9yZXR0ZSUyMHBhcnR5fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60)">
            WILD
        </div>

        <div class="col-3 m-1 card-category" style="background-image: linear-gradient(rgba(242,68,29,0.6), rgba(242,234,208,0.2)), url(https://media.istockphoto.com/photos/serving-drinks-for-new-years-party-picture-id1266799425?b=1&k=20&m=1266799425&s=170667a&w=0&h=0PBItOPFt7tRISYYiPUBINZHu5YeaXBZPiN8LtHMfTI=)">
           FANCY
        </div>

        <div class="col-3 m-1 card-category" style="background-image: linear-gradient(rgba(242,68,29,0.8), rgba(242,234,208,0.3)), url(https://images.unsplash.com/photo-1495837174058-628aafc7d610?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fGJhY2hlbG9yZXR0ZSUyMHBhcnR5fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60)">
           CHILL
        </div>

      </div>
    </div>
  </div>
</div>

<%# VALUE PROP PART %>
<div class="value-prop p-5">
  <div class="container text-center">
    <h2> Comment ça marche ?</h2>
    <div class="row pt-5">
      <div class="col text-center">
        <h1><i class="fas fa-calendar-check"></i></h1>
        <h4>Outil simple & rapide</h4>
        <p>Plus besoin de faire des énormes listes, de se prendre la tête pour penser à tout. Nous vous accompagnons pas à pas dans l'organisation de l'évènement.</p>
      </div>
      <div class="col">
        <h1><i class="fas fa-lightbulb"></i></h1>
        <h4> Trouves les meilleurs idées</h4>
        <p>Découvrer des idées de destinations, d'activités, pleins de conseil comment vous occuper pendant le séjour. Comment avoir le meilleur évent avec son budget.</p>
      </div>

      <div class="col">
        <h1><i class="fas fa-wallet"></i></h1>
        <h4> Sois autonome, ne casse pas la banque</h4>
        <p>Nous ne sommes ni une agence de voyage, ni un weeding planner. Notre outil est gratuit d'utilisation. C'est vous qui êtes en charge de votre event.</p>
      </div>
      </div>
    </div>
  </div>
</div>

<%# DESTINATIONS PART %>
<div class="section-destination p-5">
  <div class="container align-items-center">
    <h2 class="text-center"> Choisissez votre <em>destination:</em></h2>
    <div class="row align-items-center">
      <div class="col text-center">
        <div class="row align-items-center">

          <div class="col m-1 card-category" style="background-image: linear-gradient(rgba(242,68,29,0.8), rgba(242,234,208,0.3)), url(https://images.unsplash.com/photo-1493564738392-d148cfbd6eda?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Ym9yZGVhdXh8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60)">
              BORDEAUX
          </div>

          <div class="col m-1 card-category" style="background-image: linear-gradient(rgba(242,68,29,0.6), rgba(242,234,208,0.2)), url(https://images.unsplash.com/photo-1500313830540-7b6650a74fd0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cGFyaXN8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60)">
            PARIS
          </div>

          <div class="col m-1 card-category" style="background-image: linear-gradient(rgba(242,68,29,0.8), rgba(242,234,208,0.3)), url(https://images.unsplash.com/photo-1459679749680-18eb1eb37418?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8YW1zdGVyZGFtfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60)">
            AMSTERDAM
          </div>
        </div>
      </div>
    </div>
    <div class="text-center pt-5"><button class="bach-but">LET'S GO<%link_to "Form", parties_path %></button></div>
  </div>
</div>


<%# TESTIMONIAL PART %>
<div class="testi align-items-center pb-5">
    <h2 class="text-center m-4"> Ils ont eu une <strong>Bach Experience</strong>, découvrez leurs avis.</h2>

  <div class="row justify-content-center">

    <figure class="testimonial">
      <img src="https://images.unsplash.com/photo-1544563422-a46c75a351e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDd8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60" alt="profile-sample2" />
      <figcaption>
        <blockquote>
          <p>Un weekend inoubliable, merci à Bach Exp pour toutes les idées d'activités.</p>
        </blockquote>
        <h5>Audrey</h5>
      </figcaption>
    </figure>
    <figure class="testimonial"><img src="https://images.unsplash.com/photo-1513309914637-65c20a5962e1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" alt="profile-sample7" />
      <figcaption>
        <blockquote>
          <p>J'avais peur de la corvé de l'organisation et franchement j'ai pu tout faire en une heure.</p>
        </blockquote>
        <h5>Jordan</h5>
      </figcaption>
    </figure>
    <figure class="testimonial"><img src="https://images.unsplash.com/photo-1518102885802-e869dcb9da8b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fGZ1biUyMGdpcmxzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60" alt="profile-sample6" />
      <figcaption>
        <blockquote>
          <p>Sofie etait ravie de sa bachelorette party et moi ravie de faire plaisir à ma soeur </p>
        </blockquote>
        <h5>Marie</h5>
      </figcaption>
    </figure>
    <figure class="testimonial"><img src="https://images.unsplash.com/photo-1627389522449-fa0f191a1dbd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGJhY2hlbG9yJTIwcGFydHl8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60" alt="profile-sample6" />
      <figcaption>
        <blockquote>
          <p>C'est décidé je veux être le prochain à me marier juste pour faire un weekend de foli</p>
        </blockquote>
        <h5>Sylvain</h5>
      </figcaption>
    </figure>
    <figure class="testimonial"><img src="https://images.unsplash.com/photo-1628336707631-68131ca720c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fGJhY2hlbG9yZXR0ZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" />
      <figcaption>
        <blockquote>
          <p>Mieux que dans les films ! Une vraie pépite pour organiser et chercher les bonnes idées.</p>
        </blockquote>
        <h5>Jane</h5>
      </figcaption>
    </figure>
  </div>
</div>
