
#button-addon1 {
  color: #ffc371;
}

footer em {
  color: #ffc371;
  font-weight: bold;
}


.form-control::placeholder {
  font-size: 0.95rem;
  color: $bach-yellow ;
  font-style: italic;
}

.form-control.shadow-0:focus {
  box-shadow: none;
}


.end-footer {
  background-color: $bach-yellow;
  color: white !important;

;
}
