@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

.testi
{
  background-color: #F2EAD0;
  padding: 30px;
  justify-content: center;
}
.testimonial {
  position: relative;
  display: inline-block;
  justify-content: center;
  overflow: hidden;
  margin: 10px;
  min-width: 200px;
  max-width: 200px;
  width: 100%;
  background-color: $bach-red;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border: 5px solid $bach-yellow;
  border-radius: 15px;
}

.testimonial * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.testimonial img {
  // max-width: 100%;
  vertical-align: top;
  opacity: 0.85;
  height: 200px;
  width: 200px;
  object-fit: cover;
  width: 100%;
}

.testimonial figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 80px 10% 15%;
}

.testimonial figcaption:before {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 115px;
  opacity: 0.9;
  font-style: normal;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 6px;
  left: 50%;
  color: $bach-red;
}

.testimonial blockquote {
  padding: 0;
  margin: 0;
  font-style: italic;
  font-size: 12px;
  background-color: #ffd000b0;
}

.testimonial h3 {
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 3px 0;
}

.testimonial h5 {
  font-weight: bolder;
  margin: 0;
  // text-transform: uppercase;
  color: #e0e0e0;
  letter-spacing: 1px;
}
